//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #0bc0ce;


$gray-base:	    #000000;
$gray: 	  	    #ececec;

//** Typography
$font-bold:   'Playfair Display', sans-serif;
$font-light:  'Lato', sans-serif;


$h1: 48px;
$font-size-base: 16px;
$font-size-copy: 14px;

//** Custom global spacing for grid and other elements on the website
$spacing: 			10px;
$spacing-m:			5px;

//** Layout
$offset: 70px;