//## Typography
@import "_variables";
@import "_mixins";

@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Playfair+Display:700);

h1 { 
  font-size: $h1; 
  font-family: $font-bold;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 5.1px;
  
  @include breakpoint(sm) {
    font-size: ($h1 / 2);
    line-height: 32px;
    letter-spacing: 2.6px;
  }
}

p, span {
  font-size: $font-size-copy;
  font-family: $font-light;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 2.1px;
  
  @include breakpoint(sm) {
    font-size: ($font-size-copy - 2);
    line-height: 16px;
    letter-spacing: 1.8px;
  }
}