//## Grid
@import "../_variables";
@import "../_mixins";

.form-row {

	.form-header {
		margin-top: 179px;
		margin-bottom: 40px;

		@include breakpoint(sm) {
			margin-bottom: 17px;
			margin-top: 32px;
		}
	}

	.copy > p {
		margin-bottom: 2px;

		@include breakpoint(sm) {
			margin-bottom: 4px;
		}
	}

	#tickets-amount {
		font-weight: 700;
	}

	.form-container {
		outline: none;
		position: relative;
		margin: 202px 0;
		padding-left: 80px;
		width: 507px;
		height: 263px;
		background: #ececec;
		@include flexbox;
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(flex-start);

		@include breakpoint(md) {
			margin-top: 226px;
			padding-left: 64px;
			height: 238px;
			width: 100%;
		}

		@include breakpoint(sm) {
			margin: 25px 0;
			padding-left: 28px;
			height: 207px;
			width: 100%;
		}

		&__oval {
			position: absolute;
			right: 38px;
			top: -44px;		
			max-width: 107px;
			-webkit-transition-duration: 1s;
			-moz-transition-duration: 1s;
			-o-transition-duration: 1s;
			transition-duration: 1s;
			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			-o-transition-property: -o-transform;
			transition-property: transform;

			@include breakpoint(md) {
				top: -70px;
    			right: 10px;
			}

			@include breakpoint(sm) {
				display: none;
			}
		}
		
		&__contact-form {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(flex-end);
		}
	}
	
	.cloud {
		margin-top: 77px;
	}
}

#alert-success {
	font-size: 18px;
	opacity: 0;
	height: 0;
	-webkit-transition:opacity 700ms ease;
}

#alert-success.show {
	opacity: 1;
	height: auto;
}

.error {
	display: none;
}

#oval-form.active {
	transform: rotate(-160deg) !important;
	-webkit-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
}
  