//## Grid
@import "../_variables";
@import "../_mixins";

.form-row {

	.form-header {
		margin-top: 179px;
		margin-bottom: 40px;

		@include breakpoint(md) {
			margin-top: 192px;
		}

		@include breakpoint(sm) {
			margin-bottom: 17px;
			margin-top: 0;
		}
	}

	.copy > p {
		margin-bottom: 2px;
	}

	.form-container {
		outline: none;
		position: relative;
		margin: 202px 0;
		padding-left: 80px;
		width: 507px;
		height: 263px;
		background: #ececec;
		@include flexbox;
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(flex-start);

		&__oval {
			position: absolute;
			right: 38px;
			top: -44px;		
			max-width: 107px;

			@include breakpoint(md) {
				right: 45px;
				top: -68px;
			}

			@include breakpoint(md) {
				right: 46px;
				top: -68px;
			}

			@include breakpoint(sm) {
				display: none;
			}
		}
		
		&__contact-form {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(flex-end);
		}

		@include breakpoint(md) {
			margin-top: 239px;
			padding-left: 64px;
			height: 238px;
		}

		@include breakpoint(sm) {
			margin: 20px 0;
			padding-left: 28px;
			padding-right: 32px;
			height: 207px;
		}
	}
	
	.cloud {
		margin-top: 77px;
	}

	@include breakpoint(sm) {
		margin-top: 48px;
	}
}

.alert {
	display: none;
	font-size: 18px;
}
  