//## Grid
@import "../_variables";
@import "../_mixins";

//Custom bootstrap container
// 940px + @grid-gutter-width

@media (min-width: 992px) {

	.container {
		width:940px;
	}
}
@media (min-width: 1200px) {

	.container {
		width:940px;
	}
}


//Custom bootstrap row
.row {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(flex-start);

	&--fallback {
		display: block;
	}

	@include breakpoint(xs) {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;
		@include flex-wrap(wrap);
	}
}

//Custom bootstrap column
[class*='col-'] {
	float: left;
	padding-left: 0;
	padding-right: $spacing;

	@include breakpoint(md) {
		padding-left: $spacing;
		padding-right: $spacing;
	}
	

	@include breakpoint(xs) {
		padding-left: $spacing-m;
		padding-right: $spacing-m;
	}	
}

//!! Grid with small spacings (mobile)
.row {

	&.rowMobile {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;

		[class*='col-'] {
			float: left;
			padding-left: $spacing-m;
			padding-right: $spacing-m;	
		}		
	}
}
