//## Grid
@import "../_variables";
@import "../_mixins";

//Custom boostrap container
//@container-max-width + @grid-gutter-width

@media (max-width: 767px){

	.container{
		padding-left: ($spacing / 2 );
		padding-right: ($spacing / 2 );
	}  
}

//Custom bootstrap row
.row {
	@include flexbox;
	@include flex-direction(row);
	@include justify-content(flex-start);

	&--fallback {
		display: block;
	}

	@include breakpoint(xs) {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;
		@include flex-wrap(wrap);
	}
}

//Custom bootstrap column
[class*='col-'] {
	float: left;
	padding-left: 0;
	padding-right: $spacing;

	@include breakpoint(md) {
		padding-left: 0;
		padding-right: $spacing-m;
	}	

	@include breakpoint(xs) {
		padding-left: 0;
		padding-right: $spacing-m;
	}	
}

//Grid with small spacings (mobile)
.row {

	&.rowMobile {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;

		[class*='col-'] {
			float: left;
			padding-left: $spacing-m;
			padding-right: $spacing-m;	
		}		
	}
}
