//## Grid
@import "../_variables";
@import "../_mixins";

.header-row {
	height: 76px;

	.pp-logo {
		position: absolute;
		left: 0;
		max-width: 178px;
		max-height: 76px;

		@include breakpoint(md) {
			max-width: 148px;
		}
	}

	.line {
		width: 98px;
  		height: 2px;
		background: #979797;
		position: absolute;
		right: 0;
	}

}