//## Grid
@import "../_variables";
@import "../_mixins";

.header-row {

	margin-top: 30px;

	.pp-logo {
		margin-left: 38px;
		max-width: 178px;
		position: relative;

		@include breakpoint(md) {
			max-width: 148px;
			margin-left: 42px;
		}

		@include breakpoint(xs) {
			margin-left: 0;
		}
	}

	.line {
		width: 98px;
  		height: 2px;
		background: #979797;
		position: absolute;
		right: 38px;
		
		@include breakpoint(md) {
			right: 48px;
		}
		  
		@include breakpoint(xs) {
			width: 44px;
			right: 5px;
		}
	}

	@include breakpoint(sm) {
		margin-top: 13px;
	}
}