//## Grid
@import "../_variables";
@import "../_mixins";

.top-row {

	&__oval-big {
		width: 391px;
		position: absolute;
		top: -53px;
		left: 0;

		@include breakpoint(md) {
			left: 45px;
   			top: -55px;
		}

		@include breakpoint(sm) {
			right: 0;
			top: -45px;
			width: 164px;
		}
	}

	&__oval-small {
		position: absolute;
		max-width: 244px;
    	left: -162px;
    	top: 95px;

		@include breakpoint(md) {
			left: -8px;
			top: -77px;
		}

		@include breakpoint(sm) {
			display: none;
		}
	}

	&__header {
		margin-top: 82px;
		margin-bottom: 26px;
		position: relative;

		@include breakpoint(sm) {
			margin-top: 26px;
			margin-bottom: 13px;
		}
	}

	&__copy {
		max-width: 391px;
		height: 76px;

		p {
			position: relative;
			cursor: pointer;

			&:after {
				content: ' ';
				display: block;
				width: 60px;
				height: 8px;
				background: url("../img/arrow-right.svg") no-repeat center;
				position: absolute;
				bottom: 6px;
				left: 165px;
				transition: all 0.8s ease;
				-webkit-transition: all 0.8s ease;
				-moz-transition: all 0.8s ease; 
				-o-transition: all 0.8s ease;

				@include breakpoint(md) {
					left: 157px;
				}

				@include breakpoint(sm) {
					left: 90px;
					bottom: 2px;
				}
			}

			&:hover:after {
				transform: translateX(8px);
				-webkit-transform: translateX(8px);
				-o-transform: translateX(8px);
				-moz-transform: translatex(8px);
			}
		}

		@include breakpoint(sm) {
			max-width: 257px;
		}
	}
}